.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
!.yarn/cache
#.pnp.*

node_modules
altv-server
resources
.vscode
.idea
*.dll
*.exe
update.json
modules/
data/
*.log
cache/
crashdumps/
package-lock.json
server.cfg
